name: "Build NixOS Image"
on:
  workflow_dispatch:
    inputs:
      target_name:
        description: Target Configuration Name
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Nix Cache
        uses: nix-community/cache-nix-action
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: P1DT12H
          purge-primary-key: never

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: fayash
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
          ls -la /dev/kvm

      - name: Build Disko Image
        run: |
          nix build '.#nixosConfigurations.${{ github.event.inputs.target_name }}.config.system.build.diskoImagesScript'
          sudo ./result --build-memory 4096
          mkdir -p output
          sudo mv *.raw output/
          sudo chown -R "$USER:$USER" output/
          ls -lh output/

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: nixos-disko-image
          path: output/*.raw
          retention-days: 1
