name: "Generate NixOS Cache"
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: https://github.com/determinateSystems/nix-installer-action@v9

      - name: Setup Cachix
        uses: https://github.com/cachix/cachix-action@v14
        with:
          name: fayash
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build NixOS System
        run: nix build .#nixosConfigurations.zgo-la.config.system.build.toplevel
