name: "Generate NixOS Cache"
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: fayash
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build NixOS System
        run: |
          nix build .#nixosConfigurations.zgo-la.config.system.build.toplevel
          nix build .#nixosConfigurations.zgo-la.config.system.build.diskoScript
